# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\hoang\OneDrive\Máy tính\PHAN_MEM_QUAN_LY_BAN_CAFE_BERKS_BEANS_COFFEE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
